# The default value of `--target` used when building this crate
# in cases where it's not specified on the command line.
default-target = "wasm32-unknown-unknown"

[target.emscripten]
link-args = ["-s", "USE_SDL=2"]
